<?xml version="1.0" encoding="utf-8" ?>
<ApiSettings>

	<Network>
		<IP>0.0.0.0</IP>
		<Port>5085</Port>
	</Network>

	<Logs>
		<SaveTimerInHours>12</SaveTimerInHours>
		<CleanupTimerInHours>24</CleanupTimerInHours>
	</Logs>

	<Backup>
		<BackupPath>C:\\Users\\Public\\Documents\\DSRO_BACKUPS</BackupPath>
		<BackupMaxCount>10</BackupMaxCount>
		<BackupDatabases>SRO_VT_ACCOUNT,SRO_VT_SHARD,SRO_VT_LOG,SRO_VT_PROXY</BackupDatabases>
	</Backup>

	<Proxy>
		<IP>192.168.0.11</IP>
		<AgentPort>17774</AgentPort>
		<GatewayPort>17779</GatewayPort>
		<DownloadPort>17771</DownloadPort>
		<SilkPerXHours>30</SilkPerXHours> <!-- Set to 0 to disable -->
		<SilkAmount>25</SilkAmount>
		<AutoNoticeInterval>5</AutoNoticeInterval>
		<AutoNoticeMessage>Good luck!</AutoNoticeMessage>
		<AutoLongestOnlinePlayerInterval>10</AutoLongestOnlinePlayerInterval>
		<LongestPlayerOnlineMessage>{NAME} has been no-lifing for {TIME}</LongestPlayerOnlineMessage>
		<AfkMessage>{NAME}, You are AFK</AfkMessage>
		<AfkTime>600</AfkTime>
		<BackFromAfkMessage>Welcome back {NAME}!</BackFromAfkMessage>
	</Proxy>

	<Patching>
		<GameServerPath>C:\\Users\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\SR_GameServer.exe</GameServerPath>
		<MachineManagerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\MachineManager.exe</MachineManagerPath>
		<AgentServerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\AgentServer.exe</AgentServerPath>
	</Patching>

	<Cert>
		<CompileCertPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\CertModule\\CertModule\\1 - compile.bat</CompileCertPath>
	</Cert>

	<Startup>
		<CertServerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\CertModule\\CertModule\\CustomCertificationServer.exe</CertServerPath>
		<CertServerArgs>packt.dat</CertServerArgs> <!-- Dont change this (unless your not stupid) -->
		<GlobalManagerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\GlobalManager.exe</GlobalManagerPath>
		<DownloadServerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\DownloadServer.exe</DownloadServerPath>
		<MachineManagerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\MachineManager.exe</MachineManagerPath>
		<GatewayServerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\GatewayServer.exe</GatewayServerPath>
		<FarmManagerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\FarmManager.exe</FarmManagerPath>
		<AgentServerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\AgentServer.exe</AgentServerPath>
		<ShardManagerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\SR_ShardManager.exe</ShardManagerPath>
		<GameServerPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\SR_GameServer.exe</GameServerPath>
		<ProxyPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\Filter\\Filter\\VSROProxy.exe</ProxyPath>
		<SMCPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\SMC_Independent\\SMC_Independent\\smc_independent.exe</SMCPath>
		<NodeTypeIniPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\CertModule\\CertModule\\ini\\srNodeType.ini</NodeTypeIniPath>
		<SmcUsername>redacted</SmcUsername>
		<SmcPassword>redacted</SmcPassword>
		<SmcMainWindowTitle>SMC</SmcMainWindowTitle>
		<ShouldResolvePubIP>false</ShouldResolvePubIP>
		<QuestLuaRootPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\VSRO_Control_Api\\quest_lua</QuestLuaRootPath>
		<QuestSctTempPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\QuestTemp</QuestSctTempPath>
		<QuestSctDestinationPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\Script\\VIETNAM</QuestSctDestinationPath>
		<QuestTextdataReferencePath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\VSRO_Control_Api\\reference_data\\textquest_speech&amp;name.txt</QuestTextdataReferencePath>
		<QuestTextdataOutputPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\VSRO_Control_Api\\reference_output\\textquest_speech&amp;name.txt</QuestTextdataOutputPath>
		<QuestTextdataUpdateFolderPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\SMC_Independent\\SMC_Independent\\Patch_Internal\\media\\server_dep\\silkroad\\textdata</QuestTextdataUpdateFolderPath>
	</Startup>

	<ServerCfgPath>C:\\Users\\VSRO-Host\\Desktop\\VSRO Server\\Server\\Server\\DSRO-MAIN\\DSRO-MAIN\\server.cfg</ServerCfgPath>
	<DebugMode>true</DebugMode>
    <MinimumBotLevel>30</MinimumBotLevel>
</ApiSettings>